{% extends 'back-officenewprog.html.twig' %}

{% block title %}OptionTransport index{% endblock %}

{% block body %}
    <h1>OptionTransport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Capacite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option_transport in option_transports %}
            <tr>
                <td>{{ option_transport.id }}</td>
                <td>{{ option_transport.matricule }}</td>
                <td>{{ option_transport.capacite }}</td>
                <td>
                    <a href="{{ path('option_transport_show', {'id': option_transport.id}) }}">show</a>
                    <a href="{{ path('option_transport_edit', {'id': option_transport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('option_transport_new') }}">Create new</a>
{% endblock %}
