{% extends 'bach-office.html.twig' %}


{% block title %}New Annonce{% endblock %}

{% block body %}



<div class="card col-lg-15 mx-auto">
    <div class="card-body px-50 py-50">

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.titre) }}
            {{ form_errors(form.titre)  }}
            {{ form_widget(form.titre , {'attr':{'class':'form-control p_input'}}) }}

        </div>

        <div class="form-group">
            {{ form_label(form.description,'description') }}
            {{ form_errors(form.description)  }}
            {{ form_widget(form.description , {'attr':{'class':'form-control p_input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.date_creation) }}
            {{ form_errors(form.date_creation)  }}
            {{ form_widget(form.date_creation, {'attr':{'class':'form-control p_input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.date_update) }}
            {{ form_errors(form.date_update)  }}
            {{ form_widget(form.date_update, {'attr':{'class':'form-control p_input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.prix) }}
            {{ form_errors(form.prix)  }}
            {{ form_widget(form.prix , {'attr':{'class':'form-control p_input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.statut) }}
            {{ form_errors(form.statut)  }}
            {{ form_widget(form.statut , {'attr':{'class':'form-control p_input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_errors(form.type)  }}
            {{ form_widget(form.type , {'attr':{'class':'form-control p_input'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_errors(form.image)  }}
            {{ form_widget(form.image , {'attr':{'class':'form-control p_input'}}) }}
        </div>
        <div class="form-group">
            {{ form_rest(form) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>



    <!-- content-wrapper ends -->

    <!-- row ends -->

    <!-- page-body-wrapper ends -->





{% endblock %}

